body {
    overflow: hidden;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

.sound {
    display: none;
}

.animation {
    position: absolute;
    width: 80vw;
    height: 100vh;
    bottom: 0;
    left: 30%;
    margin-left: -15em;  
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.animation-text {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
    0% { 
        top: 90%;
        perspective: 2000px;
    }
    100% { 
        top: -180%;
        perspective: 100px;
    }
}

.allText {
    margin: 0 auto;
    font-size: 50px;
    line-height: 1.3;
    font-family: Verdana, sans-serif;
    color: yellow;
}

.text1, .text2  {
    margin-bottom: 50px;
    text-align: center;
}

.text3 {
    margin-bottom: 50px;
}
